<f:layout name="Default"/>

<div class="container">
  <f:section name="main">
    <div class="col-md-6">
      <f:if condition="{errors}">
        <div class="alert alert-danger">
          <ul>
            <f:for each="{errors}" as="error">
              <li>{error}</li>
            </f:for>
          </ul>
        </div>
      </f:if>
      <f:flashMessages/>

      <f:form method="post" controller="Subscribe" action="subscribe" class="form">
        <div class="xqueue-formcontent">
          <div class="xqueue-email mb-3">
            <label for="email" class="form-label">
              <f:translate key="email.label" />:
            </label>
            <f:form.textfield id="email" type="email" class="form-control" name="email" value="{formValues.email}" required="true"/>
            <f:if condition="{errors.email}">
              <p class="text-danger">{errors.email}</p>
            </f:if>
          </div>
          <f:for each="{standardFields}" as="field" key="name">
            <f:if condition="{field.active}">
              <div class="xqueue-{name} mb-3">
                <label for="{name}" class="form-label">
                  <f:translate key="{name}.label" />: <f:if condition="{field.required}">*</f:if>
                </label>
                <f:if condition="{name} == 'salutation'">
                  <f:then>
                    <f:form.select id="{name}" name="{name}" class="form-select">
                      <f:form.select.option value="{f:translate(key: '{name}.options.0')}"><f:translate key="{name}.options.0" /></f:form.select.option>
                      <f:form.select.option value="{f:translate(key: '{name}.options.1')}"><f:translate key="{name}.options.1" /></f:form.select.option>
                    </f:form.select>
                  </f:then>
                  <f:else if="{name} == 'gender'">
                    Gender
                  </f:else>
                  <f:else>
                    <f:form.textfield id="{name}" name="{name}" class="form-control" value="{formValues.{name}}" required="{field.required}" />
                  </f:else>
                </f:if>
                <f:if condition="{errors.{name}}">
                  <p class="text-danger">{errors.{name}}</p>
                </f:if>
              </div>
            </f:if>
          </f:for>
          <f:for each="{customFields}" as="field">
            <f:if condition="{field.active}">
              <div class="xqueue-{field.name}">
                <f:if condition="{field.inputType} == 'hidden'">
                  <f:form.hidden name="{field.name}" id="{field.name}" class="form-control" value="{field.value}" />
                </f:if>
                <f:if condition="{field.inputType} == 'text'">
                  <div class="mb-3">
                    <label for="{field.name}" class="form-label">
                      {field.label}: <f:if condition="{field.required}">*</f:if>
                    </label>
                    <f:form.textfield name="{field.name}" id="{field.name}" class="form-control" value="{formValues.{field.name}}" required="{field.required}" />
                  </div>
                </f:if>
                <f:if condition="{field.inputType} == 'email'">
                  <div class="mb-3">
                    <label for="{field.name}" class="form-label">
                      {field.label}: <f:if condition="{field.required}">*</f:if>
                    </label>
                    <f:form.textfield name="{field.name}" id="{field.name}" class="form-control" value="{formValues.{field.name}}" type="email" required="{field.required}" />
                  </div>
                </f:if>
                <f:if condition="{field.inputType} == 'textarea'">
                  <div class="mb-3">
                    <label for="{field.name}" class="form-label">
                      {field.label}: <f:if condition="{field.required}">*</f:if>
                    </label>
                    <f:form.textarea name="{field.name}" id="{field.name}" class="form-control" value="{formValues.{field.name}}" required="{field.required}" />
                  </div>
                </f:if>
                <f:if condition="{field.inputType} == 'checkbox'">
                  <div class="form-check mb-3">
                    <f:form.checkbox name="{field.name}" id="{field.name}" class="form-check-input" checked="{formValues.{field.name}} == 1" value="1" additionalAttributes="{required: '{field.required}'}" />
                    <label class="form-check-label" for="{field.name}">
                      {field.label} <f:if condition="{field.required}">*</f:if>
                    </label>
                  </div>
                </f:if>
              </div>
            </f:if>
          </f:for>
          <div class="xqueue-approval">
            <div class="form-check mb-3">
              <f:form.checkbox id="approval" name="approval" class="form-check-input" checked="{formValues.approval} == 1" value="1" additionalAttributes="{required: 'true'}" />
              <label class="form-check-label" for="approval">
                <f:translate key="approval.label" />
              </label>
              <f:if condition="{errors.approval}">
                <p class="text-danger">{errors.approval}</p>
              </f:if>
            </div>
          </div>
          <div class="xqueue-privacy">
            <div class="form-check mb-3">
              <f:form.checkbox id="privacy" name="privacy" class="form-check-input" checked="{formValues.privacy} == 1" value="1" additionalAttributes="{required: 'true'}" />
              <label class="form-check-label" for="privacy">
                <f:format.raw>
                  <f:translate key="privacy.label" arguments="{0: privacyPolicyUrl}" />
                </f:format.raw>
              </label>
              <f:if condition="{errors.privacy}">
                <p class="text-danger">{errors.privacy}</p>
              </f:if>
            </div>
          </div>
          <f:form.submit value="{f:translate(key: 'submit.label')}" class="btn btn-primary" />
        </div>
      </f:form>
    </div>
  </f:section>
</div>
