<f:layout name="Default"/>

<div class="container">
    <f:section name="main">
        <div class="col-md-6">
            <f:if condition="{errors}">
                <div class="alert alert-danger">
                    <ul>
                        <f:for each="{errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
            <f:flashMessages/>

            <f:form method="post" controller="Subscribe" action="unsubscribe" name="data">
              <div class="xqueue-formcontent">
                <div class="xqueue-email mb-3">
                    <label for="email" class="form-label">
                        <f:translate key="email.label" />:
                    </label>
                    <f:form.textfield id="email" type="email" class="form-control" property="email" value="{data.email}" required="true"/>
                    <f:if condition="{errors.email}">
                        <p class="text-danger">{errors.email}</p>
                    </f:if>
                </div>
                <f:form.submit value="{f:translate(key: 'submit.label')}" class="btn btn-primary" />
              </div>
            </f:form>
        </div>
    </f:section>
</div>