<?xml version="1.0"?>
<!--
    Unit test suite for typo3_maileon_integration.

    Modelled after typo3/testing-framework's Resources/Core/Build/UnitTests.xml
    boilerplate (see UnitTestsBootstrap.php alongside this file).
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
         backupGlobals="true"
         bootstrap="UnitTestsBootstrap.php"
         cacheDirectory="../../.phpunit.cache"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <env name="TYPO3_CONTEXT" value="Testing"/>
    </php>
</phpunit>
